.cell {
  border-radius: 4px;
  width: 35px;
  height: 35px;
  margin: 5px 3px;
  outline: none;
  font-weight: 700;
  display: flex;
  color: black;
  background-color: white;
  border: none;
  box-shadow: 0 3px #a7a5a5;
  justify-content: center;
  align-items: center;
}
.cell:active {
  transform: translateY(2px);
}
.cell .mine {
  background-color: tomato;
  color: white;
}

.cell.cell-0 {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 0 3px transparent;
  cursor: not-allowed;
}

.cell.cell-1 {
  background-color: #6eb6ff;
  border: none;
  box-shadow: 0 3px #7098da;
  cursor: not-allowed;
}

.cell.cell-2 {
  background-color: #fee715ff;
  border: none;
  box-shadow: 0 3px #ff7748;
  cursor: not-allowed;
}
.cell.cell-3 {
  background-color: #87c232;
  border: none;
  box-shadow: 0 3px #689727;
  cursor: not-allowed;
}
.cell.cell-4 {
  background-color: #a64ac9;
  border: none;
  box-shadow: 0 3px #7b3597;
  cursor: not-allowed;
}
.cell.cell-5 {
  background-color: #2d9cca;
  border: none;
  box-shadow: 0 3px #217aa0;
  cursor: not-allowed;
}
.cell.cell-6 {
  background-color: #13a76b;
  border: none;
  box-shadow: 0 3px #0f8b5a;
  cursor: not-allowed;
}
.cell.cell-7 {
  background-color: #ffe401;
  border: none;
  box-shadow: 0 3px #dac400;
  cursor: not-allowed;
}
.cell.cell-8 {
  background-color: #ff652f;
  border: none;
  box-shadow: 0 3px #e23b24;
  cursor: not-allowed;
}
.cell.cell-bomb_exploded {
  background-color: #fe4a49;
  border: none;
  box-shadow: 0 3px #cf3939;
  cursor: not-allowed;
}
