@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.cdnfonts.com/css/helsinki");
body {
  margin: 20px;
  padding: 0;
  font-family: "Helsinki", sans-serif;
}
.clear {
  clear: both;
  content: "";
}

.board {
  /* padding: 2em;
   background-color: gray;
  border-radius: 29px; */
}

.game-heading {
  display: flex;
  justify-content: center;
  font-family: "Helsinki", sans-serif;
}

.board > div {
  display: inline;
  /* width: 100%; */
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.game {
  display: flex;
  justify-content: center;
}

.game-info {
  min-height: 50px;
}

.cell {
  background: white;
  border: 1px solid lightgray;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0.2rem;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: lightgray;
}

.is-flag,
.is-mine {
  color: #fc543c;
}

.is-final {
  background-color: red;
}

.board-parent {
  display: flex;
  border: 4px lightgray solid;
  border-radius: 9px;
  /* padding: 0.5em; */
  position: relative;
}

.game-stats {
  display: block !important;
  /* background-color: lightgray;
  
  padding: 0.6em 0;
  margin-top: 0.8em; */
}

.info-parent {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  /* display: block; */
  padding: 0.6em 0 0 0;
}

.info {
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}

.info-title {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.sweeper-icons {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sweeper-icons img {
  width: 24px;
  height: 24px;
}

.gameState {
  padding: 0;
  cursor: pointer;
}

.game-emoji img {
  width: 40px;
  height: 40px;
}

.endstate {
  display: flex;
  align-items: center;
  font-family: "Helsinki", sans-serif;
}

.settings {
  background-color: black;
  display: inline-flex;
  border-radius: 50%;
  padding: 0.6em;
  position: absolute;
  /* right: 1em; */
  /* top: 1em; */
  top: -10px;
  right: -10px;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0 auto;
  color: white;
}

.modal-open {
  padding-right: 0 !important;
}

.saveChanges {
  text-align: right;
}

.modal-header .close:focus {
  outline: none;
}

.modal-header .close span::after {
  content: "X";
}

.how-to-play ul li {
  padding: 1em 0;
}
