.gameParent {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow: auto;
  flex-direction: column;
}

.game {
  margin: 0 auto;
}

.con {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  z-index: -9999;
}

.gameStatus {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gameStatus div {
  padding: 0 2em;
}

.minesCountParent,
.difficultyParent {
  display: flex;
  align-items: center;
}

.flag,
.difficulty {
  margin-right: 0.5em;
}

.flag img,
.difficulty img {
  filter: invert(1);
}

.minesCount,
.difficultyTitle {
  font-size: 1.2em;
  color: white;
}

.gameStatusIcon {
  cursor: pointer;
}

.gameStatusIcon img {
  filter: invert(1);
}

@media only screen and (max-width: 600px) {
  .gameStatus {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .gameStatus div {
    padding: 0 1em;
  }
}
