.gameParent {
  display: flex;
  justify-content: center;
}

.con {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: 50%;
  max-width: 50%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  z-index: -9999;
}

.gameStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minesCountParent,
.difficultyParent {
  display: flex;
  align-items: center;
}

.flag,
.difficulty {
  margin-right: 0.5em;
}

.flag img,
.difficulty img {
  filter: invert(1);
}

.minesCount,
.difficultyTitle {
  font-size: 1.2em;
  color: white;
}

.gameStatusIcon {
  cursor: pointer;
}

.gameStatusIcon img {
  filter: invert(1);
}
